.grid-container__principal {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
    grid-template-areas:
      "aside main";
  }
  .producto-1,
  .producto-2,
  .producto-3,
  .producto-4,
  .producto-5,
  .producto-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    padding-bottom: 2rem;
  }

  .producto-datos{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    min-height: 330px ;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .custom-button{
    border-radius: 100%;
  }
  aside {
    grid-area: aside;
    min-width: 6rem;
    background-color: rgba(255, 255, 255, 0.13);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: large;
    font-weight: 500;
    color: rgb(218, 224, 229);
    h4{
      background-color: #685580;
      border-top-right-radius: 12px;
    }
  }
  @media (max-width: 820px){
     aside{
      font-size:x-small;
      font-weight: 500;
     }
     .categoria{
      display: flex;
      flex-direction: column;
      max-width: 70px;
      img, p{
        scale: .7;
      }
     }
  }
  main {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 12px;
    padding: 2rem;
    padding-top: 7rem;
    grid-area: main;
    min-height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
      h3{
        color: #cb7a09;
      }
      p{
        color: white;
      }
  }
  .main-custom{
    min-height: 30vh;
    grid-template-columns: repeat(3, 1fr);
  }
  .shadow {
    -webkit-box-shadow: 2px -1px 27px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -1px 27px 3px rgba(0,0,0,0.75);
    box-shadow: 2px -1px 27px 3px rgba(0,0,0,0.75);
    
  }
  
  .shadow-aside {
    -webkit-box-shadow: 10px 2px 18px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 2px 18px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 2px 18px 1px rgba(0,0,0,0.75);
    
  }
  .categoria{
    width: 100%;
    display: flex;
    align-items: center;
    border: solid black 1px;
    padding: 20px;
    margin-bottom: -1px;
    margin-top: -1px;
    cursor: pointer;
    min-height: 100px;
    min-width: 200px;
  }
  .categoria:hover {
    transition: 0.2s;
    -webkit-box-shadow: inset 21px 0px 60px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 21px 0px 60px -21px rgba(0, 0, 0, 0.75);
    box-shadow: inset 21px 0px 60px -21px rgba(0, 0, 0, 0.75);
  }
  .categoria p{
    margin-top: 15px;
  }
  .categoria img {
    vertical-align: middle;
    margin-right: 10px; 
  }
  span{
    margin-right: 10px;
  }
  .page-counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
    margin-bottom: -2rem;
    h5{
      color: #cb7a09;
    }
    position: relative;
    margin-bottom: -8.4rem;
    margin-top: 1rem;
  }
  .page-counter-content {
    background-color: #685580;
    padding: 1rem; 
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .active-categoria{
    color: #cb7a09;
    margin: 0;
    -webkit-box-shadow: inset 21px 0px 60px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 21px 0px 60px -21px rgba(0, 0, 0, 0.75);
    box-shadow: inset 21px 0px 60px -21px rgba(0, 0, 0, 0.75);
    p{
      color: #cb7a09;
    }
  }
  @media (max-width: 1500px){
    main, .main-custom {
      grid-area: main;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 1060px){
    main, .main-custom {
      grid-area: main;
      justify-content: center;
      grid-template-columns: repeat(1, 1fr);
    }
    .producto-1{
      min-width: 60vw;
    }
    .grid-container__principal {
        grid-template-columns: auto;
        grid-template-columns: 100%;
        grid-template-areas:
          "aside"
          "main"
      }
      aside{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .category-logo__wrapper{
          max-width: 100px;
          min-height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            max-width: 100px;
          }
        }
        h4{
          border-top-right-radius: 0%;
          padding-right: 1rem;
          border-radius: 12px;
        }
      }
    .categorias{
    display: flex;
    flex-direction: row;
    }
    .categoria{
      font-size:small;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 50px;
      min-width: 60px;
      
    }
    span{
      margin-right: 0px;
    }

  }
  @media (max-width: 700px ){
    
    .producto-1{
      min-width: 85vw;
      padding: 10px;
    }
    main, .main-custom{
      margin:25px;
    }
  }
  
  // from page 'Products'
  .grid-container__principal-productos {
    grid-template-columns: auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "aside"
      "main";
    aside{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      margin-top: 2rem;
    }
      
  }
  .categorias-productos{
       display: flex;
      flex-direction: row;
  }