.active-nav{
    color: #cb7a09;
    margin: 10px;
  }
  .active-nav:hover{
    color: #ff9808;
  }
  .active:hover{
    color: #ed8c05;
  }
  .navLink{
    margin: 10px;
    color: white;
  }
  .navLink:hover{
    color: rgb(248, 217, 176);
  }